/* DEBUT POLICE PERSO */
    @font-face
    {
        font-family: 'Amontillado';
        src: url('Police/Amontillado.ttf') format('truetype'),
        url('Police/Amontillado.eot') format('eot');
    }
    @font-face
    {
        font-family: 'dancing in the rainbow';
        src: url('Police/Dancing in the Rainbow.ttf') format('truetype'),
        url('Police/Dancing in the Rainbow.eot') format('eot');
    }
    @font-face
    {
        font-family: 'CAC champagne';
        src: url('Police/cac_champagne.woff') format('woff'),
        url('Police/cac_champagne.eot') format('eot');
    }
    @font-face
    {
        font-family: 'A day in september';
        src: url('Police/ADayinSeptember.otf') format('opentype'),
        url('Police/ADayinSeptember.eot') format('eot');
    }
    @font-face
    {
        font-family: 'Azmonfleet';
        src: url('Police/Azmonfleet.ttf') format('truetype'),
        url('Police/Azmonfleet.eot') format('eot');
    }
    @font-face
    {
        font-family: 'ARBLANCA';
        src: url('Police/ARBLANCA.ttf') format('truetype'),
        url('Police/ARBLANCA.eot') format('eot');
    }
    @font-face
    {
        font-family: 'chivilcoyana';
        src: url('Police/chivilcoyana-beta-v1.2.ttf') format('truetype'),
        url('Police/chivilcoyana-beta-v1.2.eot') format('eot');
    }
    @font-face
    {
        font-family: 'everafter';
        src: url('Police/EVERAFTE.ttf') format('truetype'),
        url('Police/EVERAFTE.eot') format('eot');
    }
    .material-icons.md-18 { font-size: 18px; }
    .material-icons.md-24 { font-size: 24px; }
    .material-icons.md-36 { font-size: 36px; }
    .material-icons.md-48 { font-size: 48px; color: black;}

*
{
    font-family: Arial, serif, sans-serif;
}
/* FIN POLICE PERSO */


/*DEBUT MENU */

    body
    {
        margin: 0px;
    }
    header
    {
        position:fixed;
        z-index: 1;

        display: flex ;

        width:100%;

        background-color: black;

        border-bottom: 1px #000 solid;
    }

    nav
    {
        display: flex;

        min-height: 30px;
        max-height: 75px;
    }
    .navpc
    {
        display: flex;
    }
    .navmob
    {
        display: flex;
        flex-direction: row;
    }
    .bouton_navigation
    {
        padding: 0px 25px;
    }
    .bouton_navigation:hover
    {
        font-size: 1.05em;
        background-color: #06203b;
    }
    a
    {
        text-decoration: none;
        color: white;
    }
    a:visited
    {
        color: white;
    }
    .boutons_nav
    {
        display:flex;
        flex-direction: row;
    }
    .Index
    {
        height: 75px;
        line-height: 75px;
        white-space: nowrap;

        font-size:2.5em;
        font-family: 'ARBLANCA';
    }
    .logo
    {
        height: 75px;
    }
    .ancre
    {
        position: relative;
        bottom: 100px;
    }
    .navmob
    {
        display: none
    }
    @media (max-width: 1200px)
    {
        .navbar_presentation
        {
            display: none;
        }
    }
    @media (max-width: 950px)
    {
        .navpc
        {
            display: none;
        }
        .navmob
        {
            display: flex;
        }
        .boutons_nav
        {
            font-size:1em;
        }
        .deuxl
        {
            line-height: 37.5px;
        }
    }
    @media (max-width: 675px)
    {
        .boutons_nav
        {
            font-size:0.8em;
        }
        .bouton_navigation
        {
            padding: 0 20px;
        }
        .Index
        {
            line-height: 50px;
        }
        .deuxl
        {
            line-height: 25px;
        }
        .logo
        {
            height: 50px;
        }
        nav
        {
            height:50px;
        }
    }
    @media (max-width: 525px)
    {
        .boutons_nav
        {
            font-size:0.6em;
        }
        .bouton_navigation
        {
            padding: 0 15px;
        }
    }
    @media (max-width: 400px)
    {
        .boutons_nav
        {
            font-size:0.5em;
        }
        .bouton_navigation
        {
            padding: 0 5px;
        }
    }
    /*
    @media (max-width: 650px)
    {
        .boutons_nav
        {
            font-size: 0.6em;
        }
        .bouton_navigation
        {
            padding: 0px 10px;
        }
        .logo
        {
            display:none;
        }
    }
    */
/* FIN MENU */

/* DEBUT FORMAT TITRES */
    h1,h2,h3
    {
        margin: 10px 0px;

        text-align: center;
    }
    h1
    {
        font-size: 1em;
    }
    h2
    {
        font-size: 5em;
        font-family: "arblanca"
    }
    h3
    {
        font-size: 3.5em;
        font-family: "arblanca"
    }
    @media (max-width: 600px)
    {
        h3
        {
            line-height: 60px;
        }
    }
/* FIN FORMAT TITRES */

/* DEBUT PRESENTATION */
    section#gala
    {
        padding-top:50px;

        /* border: 1px red solid; */
    }
    .cnc_banner
    {
        position: absolute;
        top:75px;
        left: 0px;
        width:100%;
    }
    @media (max-width:1000px)
    {
        .cnc_banner
        {
            display: none;
        }
        section#gala article
        {
            background-color: #06203b;
            padding-bottom: 80px;
        }
    }
    .presentation
    {
        /*margin-top: 6%; */
        padding-top: 0px;

        text-align: center;

        /*background-color: #000066;*/
        background-color: white;
        color: white;

        /* border: 10px red double; */
    }
    .amontillado
    {
        font-family: 'Amontillado';
        font-weight: normal;
        font-size: 5em;
    }
    .dancing
    {
        font-family: 'dancing in the rainbow';
        font-weight: normal;
        font-size: 3em;
    }
    .titre_presentation
    {
        margin-bottom: 50px;
        font-size: 2em;
    }
    .titre_presentation .amontillado
    {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .titre_presentation .gala, .titre_presentation .date
    {
        margin-top: 0px ;
        margin-bottom: 0px;
        font-weight: normal;
    }
    .titre_presentation .gala
    {
        padding-top: 0px;

        line-height: 150px;
        font-family: 'dancing in the rainbow';
        font-size: 3em;
    }
    .titre_presentation .date
    {
        font-family:  'ARBLANCA';
        font-size: 1.7em;
    }
    .bandeau_rebours
    {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-top: 200px;
        margin:auto;
        width: 666px;
    }
    @media (max-width: 1700px)
    {
        .bandeau_rebours
        {
            padding-top: 100px;
        }
    }
    @media (max-width: 1550px)
    {
        .bandeau_rebours
        {
            padding-top: 0px;
        }
    }
    @media (max-width: 1400px)
    {
        .presentation
        {
            padding-bottom: 40px;
        }
    }
    @media (max-width: 1200px)
    {
        .presentation
        {
            padding-bottom: 40px;
        }
    }
    /*.count_color
    {
        background-color :#ccddff
    }*/

    .c_a_r
    {
        position: relative;
        z-index: 0;

        width:100%;
    }
    .countdown_banner
    {
        position: absolute;
        top:500px;
        left:150px;

        display: inline-block;
        width:700px;
        height:250px;
   }
    @media (max-width: 650px)
    {
        .c_a_r
        {
            margin:0 10%;
            width:50%;
        }
        .titre_presentation
        {
            padding-top: 20px;
            font-size:1.5em;
        }
    }
    @media (max-width: 500px)
    {
        .c_a_r
        {
            margin:0 5%;
        }
        .titre_presentation
        {
            margin-bottom: 20px;

            font-size:1.2em;
        }
    }
    @media (max-width: 400px)
    {
        .c_a_r
        {
            margin:0 0%;
        }
        .titre_presentation
        {
            font-size:1em;
        }
    }

    /* Ancien countdown
        #compte_rebours
        {
            font-size: 3em;
            background-color: #ccddff;
        }
        .text_rebours
        {
            text-align: center;
        }
    */

    .vers_billeterie h2
    {
        margin-top: 5%;
        margin-bottom: 0px;

        text-align: center;
        font-weight: bold;
    }
    .vers_billeterie p
    {
        text-align: center;
        font-size: 1.5em;
    }
    .fleches
    {
        display: flex;
        justify-content: center;
    }
    .fleche
    {

    }
/* FIN PRESENTATION */

/* DEBUT ACHAT PLACE */
    .champ_achat_place
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 100px;

        text-align: center;
        font-size: 1.5em;
        color: white;

        /* border: 1px blue dotted; */


    }
    .boutons_achat
    {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        max-height: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .boutons_achat_place
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .bouton_achat_place
    {
        padding: 0px 10px;
        max-width: 75%;
        margin: 5px 10px;

        line-height: 100px;
        background-color: #cc2900;

        box-shadow: 2px 2px 5px black;
    }
    .methode
    {
        display: flex;
        flex-direction: column;
    }
    .methode_payement
    {
        color: black;
        font-size: 2.5em;
    }
    .place_gala
    {
    }
    .bouton_achat_place:hover
    {
        box-shadow: 1px 1px 5px black;
    }
    .vertical_text_100
    {
        display:inline-block;
        vertical-align: middle;
        line-height: normal;

        color: white;
    }
    .disabled
    {
        color: #c2c2d6;
        background-color: #8c8c8c;
    }


    @media all and (max-width: 850px)
    {
        .boutons_achat_place
        {
            flex-direction: column;
            align-items: center;
        }
        .bouton_achat_place
        {
            width: 50%;

            line-height: 50px;
            font-size:1.25em;
        }
        .boutons_achat
        {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    @media all and (max-width: 684px)
    {
        .bouton_achat_place
        {
            width: 75%;
        }
        .champ_achat_place
        {
            margin-top: 25px;
        }
    }
    @media all and (max-width: 458px)
    {
        .bouton_achat_place
        {
            font-size:1em;
        }
        .vers_billeterie h2
        {
            font-size: 4em;
        }
    }
/* FIN ACHAT PLACE */

/*DEBUT DESCRIPTIF */
    .descriptifs
    {
        margin: 0% 5%;
        padding: 15px 0px;


        display: flex;
        justify-content: center;

        border: 5px solid black;
    }
    .descriptif
    {
        display: flex;
        flex-direction: column;

        margin: 0px 2%;
        padding: 0px 3px;
        min-width: 150px;
        max-width: 50%;

        text-align: justify;

        /* border: 1px blue solid; */
    }
    .titre_descriptif, .material-icons
    {
        text-align: center;
    }
    .corps_descriptif
    {
        font-size: 1.5em;
        line-height: 40px;
    }
    .material_icons
    {
        color: blue !important ;
        font-size: 50px !important ;
    }
    @media (max-width: 1400px)
    {
        .titre_descriptif
        {
            font-size: 2.5em;
        }
    }
    @media all and (max-width: 1000px)
    {
        .descriptifs
        {
            flex-direction: column;
            align-items: center;

            margin: 0% 5%;
        }
        .descriptif
        {
            min-width: 200px;
            max-width: 100%;
            margin: 10px 0px;
            padding: 0px 10px;

            font-size: 0.8em;
        }
        .corps_descriptif
        {
            line-height: 30px;
        }
    }
    @media all and (max-device-width: 480px)
    {
        .descriptifs
        {
            flex-direction: column;
            align-items: center;
        }
        .descriptif
        {
            min-width: 200px;
            max-width: 100%;
            margin: 10px 0;
        }
    }
/* FIN DESCRIPTIF */

/* DEBUT THEME */

    /* DEBUT VIDEOS + BANNIERE */
        .video_yt
        {
            display: inline-block;
            width: 800px;
            height: 460px;

            text-align: center;
        }
        .video
        {
            display:inline-block;
            margin: 0 23%;
        }
        @media (min-width: 1800px)
        {
            .video_yt
            {
                width:1000px;
                height:575px;
            }
            .video
            {
                margin: 0% 23%;
            }
        }
        @media (max-width: 1250px)
        {
            .video_yt
            {
                display: inline-block;
                width: 600px;
                height: 345px;

                text-align: center;
            }
            .video
            {
                display:inline-block;
                margin: 0 20%;
            }
        }
        @media (max-width: 900px)
        {
            .video_yt
            {
                display: inline-block;
                width: 600px;
                height: 345px;

                text-align: center;
            }
            .video
            {
                display:inline-block;
                margin: 0 10%;
            }
        }
        .fnt_parallax
        {
            margin-top: 250px;
            padding: 250px;
        }
        .banniere_mobile_gala
        {
            display: none;
        }
        .banniere_mobile_icam
        {
            display: none
        }
        .banniere
        {
            margin-top: 200px;
            width: auto;
            padding: 500px;
        }
        .hide
        {
            display:none;
        }
        .infos
        {
            color:white;
        }
        @media (max-width: 700px)
        {
            .video
            {
                margin:0 15%;
            }
           .video_yt
           {
                width: 400px;
                height: 235px;
           }
        }
        @media (max-width: 500px)
        {
            .video
            {
                margin:0 10%;
            }
           .video_yt
           {
                width: 350px;
                height: 210px;
           }
        }
        @media (max-width: 400px)
        {
            .video
            {
                margin:0 15%;
            }
           .video_yt
           {
                width: 300px;
                height: 180px;
           }
        }
        @media (max-width: 385px)
        {
            .video
            {
                margin:0 11%;
            }
           .video_yt
           {
                width: 300px;
                height: 180px;
           }
        }
        @media (max-width: 320px)
        {
            .video
            {
                margin:0 3%;
            }
           .video_yt
           {
                width: 300px;
                height: 180px;
           }
        }
        @media (max-width: 480px)
        {
            .fnt_parallax
            {
                display: none;
            }
            .banniere_mobile_gala
            {
                display: inline-block;
                width: 100%;
                margin: 40px 0px;
            }
            .banniere_mobile_icam
            {
                display: inline-block;
                margin: 40px 0px;
                width:100%;
            }
        }
    /* FIN VIDEO + BANNIERE */

    /* DEBUT AFFICHES */
        .conteneur_affiches
        {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

        }
        .banniere_affiches
        {
            margin: 5% 0%;

        }
        .text_affiches
        {
            margin: 0% 20%;

            font-family: Arial, serif, sans-serif;
            font-size: 1.65em;
        }
        .titre_affiches
        {
            margin-bottom: 30px;
            margin-top: 50px;
        }
        .affiches
        {
            display: flex;

            margin: 5% 10%;
        }
        .affiche
        {
            width:33.33%;
            height:100%;
        }
        @media (max-width: 800px)
        {
            .affiches
            {
                flex-direction: column;
            }
            .affiche
            {
                height: 100%;
            }
        }
        @media (max-width: 1000px)
        {
            .text_affiches
            {
                margin: 0% 10%;
            }
            .banniere_affiches
            {
                width:1000px;
            }
        }
        @media (max-width: 700px)
        {
            .text_affiches
            {
                margin: 0% 5%;
                font-size: 1.3em;
            }
            .banniere_affiches
            {
                width:600px;
            }
        }
        @media (max-width: 500px)
        {
            .text_affiches
            {
                margin: 0% 5%;
                font-size: 1em;
            }
            .banniere_affiches
            {
                width:500px;
            }
        }
    /*FIN AFFICHES */
/* FIN THEME */

/* DEBUT CONFERENCE */
    .titre_conference
    {
        margin-top: 25px;
        color: black;
    }
    .lja
    {
        display: flex;
        flex-direction: row;

        margin: 0% 10%;
    }
    .sujet_conference
    {
        font-size: 1.2em;
        line-height: 1.5em;
    }
    .gt
    {
        color: #D43F34;
    }
    .red_conf
    {
        font-weight: normal;
        color: #D43F34;
    }
    strong
    {
        font-weight: normal;
    }
    .logo_lja
    {
        /*margin-top: 60px;*/
        width: 300px;
        height: 300px;
    }
    .text_aside_conference
    {
        margin: 50px 5%;

        font-size: 1.5em;
        text-align: justify;
    }
    /*    .bann_conf_container
    {
        display:flex;
        justify-content: center;
        margin: 0 10%;
    }
    .banniere_conf
    {
        border-left: 10%;
        width: 80%;
    }   */
    .semi_titre_conference
    {
        margin-top: 2%;
        margin-bottom: 40px;
        font-size: 1.8em;
    }
    .text_conference
    {
        margin: 0% 5%;
        font-size: 1.5em;
        text-align: justify;
    }
    .teasing
    {
        margin-top: 50px;

        color: #D43F34;
        font-size: 1.8em;
        text-align: left;
    }
    #infos .fnt_parallax, #conference .fnt_parallax
    {
        margin-top: 100px;
    }
    @media (max-width:1500px)
    {
        .text_aside_conference
        {
            font-size: 1.4em;
        }
    }
    @media (max-width: 1300px)
    {
        .lja
        {
            margin: 0% 5%;
        }
        .text_aside_conference
        {
            margin: 50px 3%;
        }
    }
    @media (max-width: 1225px)
    {
        .titre_conference
        {
            font-size: 4em;
        }
    }
    @media (max-width: 1100px)
    {
        .lja
        {
            margin: 0% 3%;
        }
        .text_aside_conference
        {
            margin: 50px 2%;
            font-size: 1.3em;
        }
    }
    @media (max-width: 1000px)
    {
        .lja
        {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .text_aside_conference
        {
            margin: 30px 10%;
            font-size: 1.5em;
        }
    }
    @media (max-width: 950px)
    {
        .titre_conference
        {
            font-size: 3em;
            margin-top: 0px;
        }
    }
    @media (max-width: 750px)
    {
        .text_aside_conference
        {
            margin: 30px 4%;
        }
        .sujet_conference
        {
            font-size: 1.1em;
        }
        .titre_conference
        {
            font-size: 2.5em;
        }
        .teasing
        {
            margin-top: 25px;
        }
    }
    @media (max-width: 615px)
    {
        .text_aside_conference
        {
            margin: 30px 1%;
        }
        .sujet_conference
        {
            font-size: 1.1em;
        }
        .semi_titre_conference
        {
            font-size:1.6em;
            text-align: left;
        }
    }
    @media (max-width: 400px)
    {
        .semi_titre_conference
        {
            font-size: 1.5em;
            text-align: left;
        }
    }
/* FIN CONFERENCE */

/* DEBUT INFOS PRATIQUES */

    /*DEBUT TABLEAUX */
        .conteneur_tableaux
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;


            /*border: 1px red solid; */
        }
        .tableau
        {
            margin: 0px 15px;
            /*border: 1px blue dotted; */
            text-align: center;
            width: 40%;
        }
        td,th
        {
            border-right: 1px grey solid;
            border-left: 1px grey solid;
            min-width: 100px;
            padding: 2px 5px;
        }
        @media (max-width: 500px)
        {
            td,th
            {
                min-width: 70px;
                font-size:0.8em;
            }
            .tableau
            {
                margin: 5px;
            }
        }
        tr
        {
            height: 50px;
        }
        table
        {
            border-collapse: collapse;
        }

        table.striped > tbody > tr:nth-child(even)
        {
          background-color: #f2f2f2;
        }
        tr:last-child
        {
            border-bottom: 2px solid grey;
        }
        tr:first-child
        {
            border-top: 2px solid grey;
        }
        @media all and (max-width: 1400px)
        {
            caption h3
            {
                font-size: 2.5em;
            }
        }
        @media all and (max-width: 975px)
        {
            .conteneur_tableaux
            {
                flex-direction: column;
                align-items: center;
            }
            .tableau
            {
                width:75%;
            }
        }
        caption h4
        {
            font-size: 1.5em;
        }
    /*FIN TABLEAU */

    /* DEBUT MAP */
        .carte
        {
            text-align: center;
            margin-top: 50px;
            margin-bottom:50px;
            /*border: 0% 10%;*/
        }
        .map
        {
            width:80%;
            height:600px;
        }
        @media (max-width: 850px)
        {
            .map
            {
                height:400px;
            }
        }
    /* FIN MAP */

    /* DEBUT DEROULEMENT */
        .deroulement_text
        {
            padding: 1%;

            text-align: justify;
            font-size: 1.2em;
            font-family: Arial, serif, sans-serif

            /* border: 1px solid black; */
        }
        .deroulement
        {
            margin: 0% 20%;
            margin-bottom: 50px;
            /* border: 1px solid black; */
        }
        .deroulement_titre
        {
            margin-bottom: 30px;
        }
        @media (max-width: 950px)
        {
            .deroulement
            {
                margin: 0% 5%;
            }
            .conteneur_tableau
            {
                /*justify-content: left;*/
            }
        }
        footer
        {
            height: 180px;
            padding-bottom: 15px;

            background-color: black;
            color:white;
        }
        footer h3
        {
            font-size: 2.5em;
        }
        footer p
        {
            padding-bottom: 0px;
            text-align: center
        }
        .mail
        {
            font-size: 1.5em;
        }
    /* FIN DEROULEMENT */

    /* DEBUT PLANNING */
    .planning_remise_bracelets
    {
        display: flex;
        justify-content: center;
    }
    .planning_img
    {
        width:75%;
        height:80%;
    }
    /* FIN PLANNING */
/* FIN INFOS PRATIQUES */